<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,
700;0,900;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet" />

  <!-- CSS File -->
  <link rel="stylesheet" type="text/css" href="badge.css" />
  <title>Badges</title>
</head>

<body>
  <section>
    <!-- Badges with Icon -->

    <div class="badge-docs">
      <p>Badges</p>
      <p>Badges are being used to display a notification count or status information</p>
    </div>

    <div class="line-2"></div>
    <div class="icon-badge-doc">Badge and Badge with icon.</div>

    <div class="badge-with-icon">
      <div class="icon-badge">
        <img src="./icons/email.png" class="msg-icon">
        <span class="noti-count">40</span>
      </div>

      <div class="normal-badge">
        <span class="normal-badge-count">40</span>
      </div>
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%252F%252Fbadge%250A%2520%253Cspan%2520class%253D%2522badge%2522%253E40%253C%252Fspan%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%252F%252Fbadge%2520with%2520icon%250A%253Cimg%2520src%253D%2522url.png%2522%2520class%253D%2522%2522%253E%250A%253Cspan%2520class%253D%2522badge%2522%253E40%253C%252Fspan%253E"
        style="width: 392px; height: 297px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>
    <div class="line-2"></div>

    <!-- Badges with Button -->
    <div class="badge-with-button">
      <p>Badge with Button</p>
      <div class="btn-div">
        <div class="badge-button">
          <button class="btn">Log In</button>
          <span class="btn-noti-count">6</span>
        </div>

        <div class="cancel-badge-btn">
          <button class="cancel-btn">Log Out</button>
          <span class="cancel-btn-noti-count">6</span>
        </div>
      </div>

      <div class="code-snippet">
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%252F%252Fbadge%2520on%2520left%250A%253Cspan%2520class%253D%2522badge%2520badge-warning%2520right-badge%2522%253E6%253C%252Fspan%253E%250A%253Cbutton%2520class%253D%2522badge-button%2522%253ELog%2520In%253C%252Fbutton%253E%250A%252F%252Fbadge%2520on%2520right%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cbutton%2520class%253D%2522badge%2520badge-success%2520left-badge%2522%253ELog%2520Out%253C%252Fbutton%253E%250A%253Cspan%2520class%253D%2522badge-button%2522%253E6%253C%252Fspan%253E"
          style="width: 1024px; height: 473px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
      </div>
      <div class="line-2"></div>
    </div>

    <!-- Badges with Avatar -->
    <div class="avator-badge">
      Avator with Badge
      <div class="badge-with-avator">
        <div class="base">
          <div class="indicator"></div>
        </div>
        <div class="base_2">
          <div class="indicator_2"></div>
        </div>
      </div>
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253C%21--Avator%2520with%2520Badge--%253E%250A%253Cdiv%2520class%253D%2522badge-with-avator%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522base%2522%253E%253Cdiv%2520class%253D%2522indicator%2522%253E%253C%252Fdiv%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522base_2%2522%253E%253Cdiv%2520class%253D%2522indicator_2%2522%253E%253C%252Fdiv%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
        style="width: 642px; height: 275px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    
  </section>
</body>