* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.line-2,
.line_1 {
  height: 1px;
  background: rgb(177, 175, 175);
  margin: 2rem 0;
}

.line_1 {
  margin: 1em 0;
}

section {
  margin: 2rem 1rem;
}


.grid-docs p:nth-child(1), .simple-grid-docs p:nth-child(1), .grid-with-3-docs{
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.grid-docs p:nth-child(2), .simple-grid-docs p:nth-child(2)  {
  font-weight: 300;
}

strong {
  color: #ff5252;
  font-weight: 500;
}

/* {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.7em;
 } */

 .grid-div, .grid-with-3 {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(231, 231, 231);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.7em;
 }

 .grid-with-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
 }

.code-snippet {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:600px) {
  .grid-docs p:nth-child(1), .simple-grid-docs p:nth-child(1), .grid-with-3-docs {
    font-size: 1em;
    font-weight: 500;
    margin: 0 0 0.25em 0;
   }
}

.card-with-btn-img {
  width: 20rem;
  height: auto;
  border: 1px solid rgb(179, 170, 170);
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .img-card-div {
  position: relative;
}

.card-img {
  width: 20rem;
  height: auto;
  border-radius: 0.4em;
}

.inner-text {
  position: absolute;
  right: 0.2%;
  top: 1%;
  background-color: #252525;
  color: #fff;
  padding: 0.1em 0.3em;
  border-radius: 0.4em;
}

.vertical-card-content {
  height: 10rem;
}

.img-card-content p:nth-child(1) {
  font-size: 1.5em;
  font-weight: 500;
}

.img-card-content p:nth-child(2) {
  font-size: small;
  font-weight: 500;
  color: rgb(70, 70, 70);
  margin: 0 0 1em 0;
}

.card-prize p:nth-child(1) {
  font-weight: 500;
  color: rgb(83, 79, 79);
  font-size: 1.2em;
}

.card-prize p:nth-child(2) {
  font-size: 0.8em;
  color: #252525;
  font-weight: 700;
}

.vertical-card-btn {
  display: flex;
  align-items: flex-start;
  margin: 1em 0.5em;
}

.cart-btn {
  padding: 0.5em 1em;
  font-weight: 500;
  border: 1px solid #FF5252;
  border-radius: 2px;
  color: #FF5252;
  background-color:rgb(231, 231, 231);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.cart-btn:hover {
  background-color: #FF5252;
  color: #fff;
}