<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,
700;0,900;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet" />

  <!-- CSS File -->
  <link rel="stylesheet" type="text/css" href="grid.css" />

  <!-- Font Awsome Icon -->
  <script src="https://kit.fontawesome.com/b44c64d3de.js" crossorigin="anonymous"></script>
  <title>Grid</title>
</head>

<body>
  <section>
    <div class="grid-docs">
      <p>Simplified Grid</p>
      <p>Use grid when you want sections in view. Check below some examples of side by side cards.</p>
    </div>

    <div class="line-2"></div>

    <div class="simple-grid-docs">
      <p>Two items in a Grid</p>
      <p>Grid of two items in 50-50 layout.</p>
    </div>

    <div class="grid-div">
      <div class="grid">
        <div class="card-with-btn-img">
          <div class="img-card-div">
            <img src="./images/card-img.jpg" class="card-img" />
            <p class="inner-text">New</p>
          </div>

          <div class="vertical-card-content">
            <div class="img-card-content">
              <p>JBL Flip 4 T&G (Red)</p>
              <p>From JBL</p>
            </div>

            <div class="card-prize">
              <p>+ 1 -</p>
              <p>RS: 5000</p>
            </div>

            <div class="vertical-card-btn">
              <button class="cart-btn">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="card-with-btn-img">
          <div class="img-card-div">
            <img src="./images/card-img.jpg" class="card-img" />
            <p class="inner-text">New</p>
          </div>

          <div class="vertical-card-content">
            <div class="img-card-content">
              <p>JBL Flip 4 T&G (Red)</p>
              <p>From JBL</p>
            </div>

            <div class="card-prize">
              <p>+ 1 -</p>
              <p>RS: 5000</p>
            </div>

            <div class="vertical-card-btn">
              <button class="cart-btn">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-two%2522%253E%250A%2509%253Cdiv%253E%250A%2509%252F%252Fcard%2520or%2520any%2520contant%250A%2509%253C%252Fdiv%253E%250A%2509%253Cdiv%253E%250A%2509%252F%252Fcard%2520or%2520any%2520contant%250A%2509%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
        style="width: 349px; height: 339px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    <div class="line-2"></div>

    <div class="grid-with-3-docs">Grid of three items</div>

    <div class="grid-with-3">
      <div class="card-with-btn-img">
        <div class="img-card-div">
          <img src="./images/card-img.jpg" class="card-img" />
          <p class="inner-text">New</p>
        </div>

        <div class="vertical-card-content">
          <div class="img-card-content">
            <p>JBL Flip 4 T&G (Red)</p>
            <p>From JBL</p>
          </div>

          <div class="card-prize">
            <p>+ 1 -</p>
            <p>RS: 5000</p>
          </div>

          <div class="vertical-card-btn">
            <button class="cart-btn">ADD TO CART</button>
          </div>
        </div>
      </div>


      <div class="grid">
        <div class="card-with-btn-img">
          <div class="img-card-div">
            <img src="./images/card-img.jpg" class="card-img" />
            <p class="inner-text">New</p>
          </div>

          <div class="vertical-card-content">
            <div class="img-card-content">
              <p>JBL Flip 4 T&G (Red)</p>
              <p>From JBL</p>
            </div>

            <div class="card-prize">
              <p>+ 1 -</p>
              <p>RS: 5000</p>
            </div>

            <div class="vertical-card-btn">
              <button class="cart-btn">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="card-with-btn-img">
          <div class="img-card-div">
            <img src="./images/card-img.jpg" class="card-img" />
            <p class="inner-text">New</p>
          </div>

          <div class="vertical-card-content">
            <div class="img-card-content">
              <p>JBL Flip 4 T&G (Red)</p>
              <p>From JBL</p>
            </div>

            <div class="card-prize">
              <p>+ 1 -</p>
              <p>RS: 5000</p>
            </div>

            <div class="vertical-card-btn">
              <button class="cart-btn">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-three%2522%253E%250A%2509%253Cdiv%253E%250A%2509%252F%252Fcard%2520or%2520any%2520contant%250A%2509%253C%252Fdiv%253E%250A%2509%253Cdiv%253E%250A%2509%252F%252Fcard%2520or%2520any%2520contant%250A%2509%253C%252Fdiv%253E%250A%2520%2520%2509%253Cdiv%253E%250A%2509%252F%252Fcard%2520or%2520any%2520contant%250A%2509%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
        style="width: 349px; height: 403px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    <div class="line-2"></div>

  </section>
</body>