* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.line-2 {
  height: 1px;
  background: rgb(177, 175, 175);
  margin: 2rem 0;
}


section {
  margin: 2rem 1rem;
}

.card-docs p:nth-child(1),
.Cards-with-dismiss p:nth-child(1),
.badge-card-docs p:nth-child(1),
.horizontal-card-docs p:nth-child(1),
.card-with-btn-docs {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
 }

.card-docs p:nth-child(2),
.Cards-with-dismiss p:nth-child(2),
.card-content,
.badge-card-docs p:nth-child(2) {
  font-weight: 300;
 }

 strong {
  color: #FF5252;
  font-weight: 500;
 }

 .card-div, .main-img-card-div, .horizontal-card-main-div, .cart-with-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.7em;
 }

 /* .horizontal-card-main-div {
  background-color: #fff;
 } */

 .card {
  width: 20%;
  height: auto;
  border: 1px solid rgb(179, 170, 170);
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .card-with-img, .card-with-btn-img {
  width: 20rem;
  height: auto;
  border: 1px solid rgb(179, 170, 170);
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
 }

 .card-header p {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
 }

 .fa-solid {
  height: 15px;
  width: 15px;
 }

 .close-btn {
  padding: 1em 0.2em 0.8em 1em;
  border-radius: 50%;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
 }

 .close-btn:hover {
  background-color: rgb(179, 175, 175);
 }

 .code-snippet {
  display: flex;
  justify-content: center;
  align-items: center;
}



.card-with-img, .card-with-btn-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem !important;
  height: auto;
}

.card-img {
  width: 20rem;
  height: auto;
  border-radius: 0.4em;
}

.img-card-div {
  position: relative;
}

.inner-text {
  position: absolute;
  right: 0.2%;
  top: 1%;
  background-color: #252525;
  color: #fff;
  padding: 0.1em 0.3em;
  border-radius: 0.4em;
}

.inner-text-2 {
  position: absolute;
  left: 2%;
  bottom: 3%;
  color: #9c9c9c;
  font-size: small;
}

.img-card-content p:nth-child(1) {
  font-size: 1.5em;
  font-weight: 500;
}

.img-card-content p:nth-child(2) {
  font-size: small;
  font-weight: 500;
  color: rgb(70, 70, 70);
  margin: 0 0 1em 0;
}

.img-card-content p:nth-child(3) {
  font-weight: 300;
  color: rgb(136, 134, 134);
  margin: 1em 0;
}

.img-card-content-2 p:nth-child(1) {
  font-weight: 300;
  color: rgb(136, 134, 134);
  margin: 1em 0;
}

.over-heading {
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(219, 211, 211);
}

.img-card-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-card-btns button:nth-child(1),
.img-card-btns button:nth-child(2),
.img-card-btns button:nth-child(3),
.img-card-btns button:nth-child(4),
.img-card-btns button:nth-child(5) {
  font-weight: 500;
  font-size: 0.95em;
  border-radius: 0.2em;
  border: 1px solid transparent;
  padding: 0.01em 0.2em;
  margin: 0 0.8em 0 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background-color: rgb(231, 231, 231);
}

.img-card-btns button:nth-child(3),
.img-card-btns button:nth-child(4),
.img-card-btns button:nth-child(5) {
  border-radius: 50%;
  padding: 0.5em 0 0.5em 0.5em;
}

.img-card-btns button:nth-child(1):hover,
.img-card-btns button:nth-child(2):hover,
.img-card-btns button:nth-child(3):hover,
.img-card-btns button:nth-child(4):hover,
.img-card-btns button:nth-child(5):hover {
  background-color: rgb(212, 208, 208);
}

.horizontal-card {
  display: flex;
  flex-direction: row;
  width: 25vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.horizontal-img-card {
  width: 10vw;
  height: auto;
}


.horizontal-card-content, .vertical-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0.5em;
  background-color: rgb(231, 231, 231);
}

.vertical-card-content {
height: 10rem;
}

.horizontal-card-title p:nth-child(1) {
  font-size: 1.25em;
  font-weight: 500;
}

.horizontal-card-title p:nth-child(2) {
  font-weight: 500;
  color: rgb(148, 142, 142);
}

.card-prize p:nth-child(1) {
  font-weight: 500;
  color: rgb(83, 79, 79);
  font-size: 1.2em;
}

.card-prize p:nth-child(2) {
  font-size: 0.8em;
  color: #252525;
  font-weight: 700;
}

.wish-btn, .cart-btn {
  padding: 0.5em 1em;
  font-weight: 500;
  border: 1px solid #FF5252;
  border-radius: 2px;
  color: #FF5252;
  background-color:rgb(231, 231, 231);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.wish-btn:hover, .cart-btn:hover {
  background-color: #FF5252;
  color: #fff;
}

.vertical-card {
  display: flex;
  flex-direction: column;
}

.vertical-card-btn {
  display: flex;
  align-items: flex-start;
  margin: 1em 0.5em;
}

/* Media Quarry */
@media (max-width: 600px) {
  .card  {
    width: 100%;
  }

  .horizontal-card {
    width: 100;
    height: 100%;
  }

  .card-docs p:nth-child(1),
  .Cards-with-dismiss p:nth-child(1),
  .badge-card-docs p:nth-child(1),
  .horizontal-card-docs p:nth-child(1),
  .card-with-btn-docs {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
   }

}