<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,
700;0,900;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet" />

  <!-- CSS File -->
  <link rel="stylesheet" type="text/css" href="input.css" />

  <!-- Font Awsome Icon -->
  <script src="https://kit.fontawesome.com/b44c64d3de.js" crossorigin="anonymous"></script>
  <title>Image</title>
</head>

<body>
  <section>
    <div class="input-docs">
      <p>Input</p>
      <p>Inputs are necessary for user interaction with the website. Inputs are used to take information from the user,
        and then save the data to the server, accordingly.</p>
    </div>

    <div class="line-2"></div>

    <div class="label-input-docs">
      <p>Label Inputs</p>
      <p>Create beautifull and simple <strong>input box</strong>.</p>
    </div>

    <div class="input-types-form">
      <label>User Name :</label>
      <input type="text" class="user-name">

      <label class="pswd-label">Password :</label>
      <input type="password" class="pass-word">
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-box%2522%253E%250A%253Clabel%2520for%253D%2522input%2522%253EUser%2520Name%253C%252Flabel%253E%250A%253Cinput%2520type%253D%2522text%2522%2520%252F%253E%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522input-box%2522%253E%250A%253Clabel%2520for%253D%2522input%2522%253EPassword%253C%252Flabel%253E%250A%253Cinput%2520type%253D%2522text%2522%2520%252F%253E%250A%253C%252Fdiv%253E"
        style="width: 443px; height: 339px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    <div class="line-2"></div>

    <div class="form-valid-docs">
      <p>Form validation styles</p>
      <p>In need of Error or success layout add error or success class on input box</p>
    </div>

    <div class="form-valid">
      <label class="form-valid-password">Password*</label>
      <input type="text" class="from-valid-input">
      <label class="form-valid-wp">Wrong Password!</label>

      <label class="form-valid-success">Success*</label>
      <input type="text" class="from-valid-input-success">
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-box%2520error%2522%253E%250A%253Clabel%2520for%253D%2522input%2522%253EPassword%2520-%253C%252Flabel%253E%250A%253Cinput%2520type%253D%2522text%2522%2520%252F%253E%250A%253Clabel%2520for%253D%2522error%2522%253EWrong%2520Password%253C%252Flabel%253E%250A%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522input-box%2520success%2522%253E%250A%253Clabel%2520for%253D%2522input%2522%253Esuccess%2520-%253C%252Flabel%253E%250A%253Cinput%2520type%253D%2522text%2522%2520%252F%253E%250A%253C%252Fdiv%253E"
        style="width: 486px; height: 382px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>
  </section>
</body>