<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,
700;0,900;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet" />

  <!-- CSS File -->
  <link rel="stylesheet" type="text/css" href="image.css" />

  <!-- Font Awsome Icon -->
  <script src="https://kit.fontawesome.com/b44c64d3de.js" crossorigin="anonymous"></script>
  <title>Image</title>
</head>

<body>
  <section>
    <div class="img-docs">
      <p>Image</p>
      <p>
        Images can be responsive to fit the parent's width, and also can be
        customised to be round shaped
      </p>
    </div>

    <div class="line-2"></div>

    <div class="responsive-img-docs">
      <p>Example of Responsive Image</p>
      <p>
        You can add class <strong>responsive-img</strong> to make your image fit the width of
        container. It's height will get adjusted by keeping the aspect ratio
        same. If you want to change the aspect ratio, you will have to crop
        the image.
      </p>

      <div class="img-div">
        <img src="./Images/img1.jpg" class="responsive-img">
      </div>
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522responsive-img%2522src%253D%2522url.png%2522%2520alt%253D%2522%2522%252F%253E"
        style="width: 572px; height: 207px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    <div class="line-2"></div>

    <div class="round-img-docs">
      <p>Round Image</p>
      <p>You can add class <strong>round-img</strong> to make your image round shaped.</p>
    </div>

    <div class="round-img">
      <img src="./Images/circular-img-1.png" class="round-img-1">
      <img src="./Images/circular-img-2 .png" class="round-img-2">
    </div>

    <div class="code-snippet">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522round-img%2522%2520src%253D%2522url-1.jpg%2522%2520alt%253D%2522round%2520img%2522%252F%253E%250A%253Cimg%2520class%253D%2522round-img%2522%2520src%253D%2522url-2.jpg%2522%2520alt%253D%2522round%2520img%2522%252F%253E"
        style="width: 616px; height: 212px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    <div class="line-2"></div>

  </section>
</body>

</html>