<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,
700;0,900;1,300;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS File -->
    <link rel="stylesheet" type="text/css" href="rating.css" />

    <!-- Font Awsome Icon -->
    <script
      src="https://kit.fontawesome.com/b44c64d3de.js"
      crossorigin="anonymous"
    ></script>
    <title>Rating</title>
  </head>
  <body>
    <section>
      <div class="rating-docs">
        <p>Ratings</p>
        <p>
          Rating components can be used as read-only badge or in reviews
          section. Can be used in reviews section as form too.
        </p>
      </div>

      <div class="line-2"></div>

      <div class="rating">
        <div class="rating-component">
          <strong class="rating-one"
            >4.5 <i class="fa-solid fa-star"></i> | 192 Ratings</strong
          >
          <strong class="rating-two">4 <i class="fa-solid fa-star"></i> | 5</strong>
        </div>
      </div>

      <div class="code-snippet">
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522ratings%2522%253E%250A%2520%2520%253Cspan%2520class%253D%2522rating-star%2520four-half%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Fspan%253E%250A%2520%2520%253Cspan%2520class%253D%2522rating-star%2520four%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
          style="
            width: 461px;
            height: 339px;
            border: 0;
            transform: scale(1);
            overflow: hidden;
          "
          sandbox="allow-scripts allow-same-origin"
        >
        </iframe>
      </div>

      <div class="line-2"></div>

      <div class="star-rating-docs">Read Only Ratings</div>

      <div class="star-rating">
        <strong>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
          <i class="fa-regular fa-star"></i>
        </strong>
        <strong class="rating-two">3.5 <i class="fa-solid fa-star"></i> | 5</strong>
      </div>

      <div class="code-snippet">
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-star-half-stroke%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-regular%2520fa-star%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
          style="
            width: 530px;
            height: 318px;
            border: 0;
            transform: scale(1);
            overflow: hidden;
          "
          sandbox="allow-scripts allow-same-origin"
        >
        </iframe>
      </div>

      <div class="line-2"></div>

    </section>
  </body>
</html>
